<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <!--<div class="about__image">
     <img src="{{ 'images/profile.jpg' | relative_url }}" alt="">

      
    </div>-->

    <div class="about__content">
      <h2 class="title">About me</h2>
      {% include component-socials.html %}<br/>
      <p class="subtitle subtitle--light">I'm a designer and have been working with the web in one form or another for well over 15 years.
      </p>

      <p>My work centres on helping teams make better product decisions — combining UX thinking with strategic insight to deliver meaningful outcomes.</p>
      <p>I've led design across cross-functional teams, working closely with product and engineering to shape direction, simplify complexity, and deliver scalable solutions.</p>
      <p>I'm particularly interested in roles where I can contribute at a strategic level, lead teams and help define not just what gets built, but why.</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>