<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <!--<div class="about__image">
     <img src="{{ 'images/profile.jpg' | relative_url }}" alt="">

      
    </div>-->

    <div class="about__content">
      <h2 class="title">About me</h2>
      {% include component-socials.html %}<br/>
      <p class="subtitle subtitle--light">I’m a designer and have been working with the web in one form or another for around 15 years.
      </p>

      <p>Currently I'm working primarily as a Product Designer and UX consultant, helping companies get started online, or improving their existing apps and websites. But have worked across the design spectrum in both print and digital mediums.</p>
      <p>I'm currently available for select freelance projects, I'd love to hear more about your company and what you're looking to build - send me an email!</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>